<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profesionales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:insert="~{inicio.html::division}"></div> <!-- este es el header -->
<!-- FILTROS -->
<div class="container" style="margin-top: 30px;">
    <form action="/profesional/listar" method="GET" class="row g-3">
        <!-- PROFESIONAL (Campo de búsqueda) -->
        <div class="col-md-3">
            <label for="profesional" class="form-label">Profesional</label>
            <input type="text" class="form-control" id="profesional" name="profesional" placeholder="Nombre del Profesional">
        </div>
        <!-- ÁREA -->
        <div class="col-md-3">
            <label for="area" class="form-label">Área</label>
            <select name="area" id="area" class="form-select">
                <option value="">Selecciona un área</option>
                <th:block th:each="area : ${lista_areas}">
                    <option th:value="${area.nombreArea}" th:text="${area.nombreArea}"></option>
                </th:block>
            </select>
        </div>
        <!-- FECHA -->
        <div class="col-md-3">
            <label for="fecha" class="form-label">Fecha</label>
            <select name="fecha" id="fecha" class="form-select">
                <option value="">Selecciona una fecha</option>
                <th:block th:each="fecha : ${lista_fechas}">
                    <option th:value="${fecha.fechaDisponibilidad}" th:text="${fecha.fechaDisponibilidad}"></option>
                </th:block>
            </select>
        </div>
        <!-- SEDE -->
        <div class="col-md-3">
            <label for="sede" class="form-label">Sede</label>
            <select name="sede" id="sede" class="form-select">
                <option value="">Selecciona una sede</option>
                <th:block th:each="sede : ${lista_sedes}">
                    <option th:value="${sede.nombreSede}" th:text="${sede.nombreSede}"></option>
                </th:block>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
            <a href="/profesional/listar" class="btn btn-outline-dark mt-4">Quitar Filtros</a>
        </div>
    </form>
</div>

<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <!-- Iterar sobre la lista de profesionales pasada desde el controlador -->
        <div th:each="profesional : ${lista_profesionales}" class="col-md-4 col-lg-3 mb-4">
            <div class="card h-100">
                <!-- IMAGEN -->
                <img th:src="@{'/img/' + ${profesional.imagen}}" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <!-- NOMBRE -->
                    <h5 class="card-title" th:text="${profesional.nombre}"></h5>
                    <!-- ÁREA -->
                    <p class="card-text" th:text="${profesional.area.nombreArea}"></p>
                    <!-- FECHAS DISPONIBLES -->
                    <h6>Fechas Disponibles:</h6>
                    <ul>
                        <li th:each="fecha : ${profesional.fechasDisponibilidad}" th:text="${fecha.fechaDisponibilidad}"></li>
                    </ul>
                    <!-- SEDE -->
                    <h6>Sede:</h6>
                    <p class="card-text" th:text="${profesional.sede.nombreSede}"></p>
                    <!-- DESCRIPCIÓN -->
                    <h6>Descripción:</h6>
                    <p class="card-text" th:text="${profesional.descripcionProfesional}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
